In [ ]:
#enter the number of students in class
#enter their name and marks in three subjects seperated by a whitespace
#enter the students name whose average score is required
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(0,n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

 3
 Alice 34 65 45
 Tom 34 64 34
 John 34 66 53
 Alice

In [28]:
list1 = student_marks[query_name]
add = 0
for i in range(0,3):
    add = add + list1[i]
ansa = (add/3)
ans = f"{ansa:.2f}"
print(ans)

48.00